/* Start http://www.cursors-4u.com */ 
* {cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), auto !important;} /* End http://www.cursors-4u.com */

.App {
  text-align: center;
  font-family: 'Long Cang', cursive;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px 0 10px 0;
  font-family: 'Long Cang', cursive;
  font-size: 2.5rem;

}
h1 {
  font-family: 'Long Cang', cursive;
}