@import url('https://fonts.googleapis.com/css?family=Long+Cang&display=swap');
body {
  margin: 0;
    font-family: 'Long Cang', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://wallpaperplay.com/walls/full/8/8/3/64835.jpg');
  font-size: 2rem;
}

code {
  font-family: 'Long Cang', cursive;
}
